/******************************************
    CSSS RESET + Footer Fix
*******************************************/

/*Linked to CSS reset and a footer fix to minimize the code*/

@import url("cssReset.css");
@import url("footer.css");

/********************************************
    HEADER/FOOTER
*********************************************/

#header,
p {
   color: #fff;
   line-height: 1.5;
   font-size: 18px;
}

hr {
   border-color: grey;
}

h1,
.h1 {
   font-family: "IM Fell English SC", "Kurale", "UnifrakturMaguntia", serif;
   font-size: 120px;
   text-align: center;
   padding: 50px 0;
}

h2,
h3,
h4,
.h2,
.h3,
.h4 {
   font-family: 'Kurale';
   color: white;
   padding: 16px 0 20px;
}

h2,
.h2 {
   font-size: 40px;
   text-align: center;
}

h3,
.h3 {
   font-size: 36px;
}

h4,
.h4 {
   font-size: 24px;
   font-family: arial;
}

h5,
.h5 {
   font-size: 22px;
}

/********************************************
    CONTENT
*********************************************/

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to bottom, #00000000, #000000e5),
      url(../images/death.jpg);
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   background-attachment: fixed;

}

#wrapper {
   display: none;
}

#root {
   width: 100%;
   height: 100vh;
   display: block;
}

.container {
   max-width: 1400px;
}

.alert {
   display: flex;
   line-height: 1.5;
   padding: .75rem;
}

.alert .fa {
   padding: 4px;
}

.row {
   margin-bottom: 20px;
}

.actions {
   display: flex;
   flex-flow: column;
   justify-content: space-around;
}

.actions button {
   margin-bottom: 50px;
   font-family: 'Metamorphous', cursive;
   font-size: 34px;
   font-weight: bold;
   text-transform: capitalize;
   font-variant: small-caps;
}

.modal-title {
   padding: 0;
}

.modal .alert:last-child {
   margin: 0;
}

.overlay {
   visibility: hidden;
   display: none;
}

.overlay-bg {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 60;
   background: rgba(0, 0, 0, 0.7);
}

.overlay-card .selected {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: block;
   width: 500px;
   z-index: 70;
}

.overlay-card .selected img {
   width: 100%;
}

.overlay-card .frame {
   position: relative;
   display: none;
}

.overlay-card .frame .fa-close {
   position: absolute;
   top: 8px;
   right: 10px;
   color: black;
   background: white;
   border-radius: 50%;
   border: 1px solid black;
   font-size: 24px;
   width: 33px;
   height: 33px;
   text-align: center;
   cursor: pointer;
   padding-left: 1px;
   padding-top: 2px;
}

.overlay #loader {
   display: none;
   position: fixed;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 61;
}



/********************************************
   ANIMATED DECK
*********************************************/
#deck {
   height: auto;
   position: relative;
   margin-bottom: 50px;
}

#deck .cards {
   display: flex;
   position: relative;
}

#deck .cards .frame {
   height: auto;
   width: auto;
   max-width: 33%;
   transition: 0.3s;
   cursor: pointer;
   position: absolute;
}

#deck img {
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   box-shadow: 0px 0px 20px 5px black;
}

#deck .cards .frame:nth-child(1) {
   position: relative;
   z-index: 1;
   transform: translate(80%);
}

#deck .cards .frame:nth-child(1):hover {
   transform: translateX(60%) translateY(-10%) rotate(-15deg);
}

#deck .cards .frame:nth-child(2) {
   position: relative;
   z-index: 2;
   transform: translate(0px);
}

#deck .cards .frame:nth-child(2):hover {
   transform: translateY(-10%);
}

#deck .cards .frame:nth-child(3) {
   position: relative;
   z-index: 3;
   transform: translate(-80%);
}

#deck .cards .frame:nth-child(3):hover {
   transform: translateX(-60%) translateY(-10%) rotate(15deg);
}


/********************************************
   REVEALED CARD
*********************************************/
.reveal {
   position: relative;
   margin-bottom: 50px;
}

.reveal #loader {
   position: absolute;
   top: 10%;
   left: 30%;
   width: 40%;
   height: 40%;
   display: none;
}

.label-inv {
   visibility: collapse;
}


/********************************************
   DECK BUILDER MODAL
*********************************************/

#build-deck-modal .modal-header {
   background: #c59400;
   border: none;
}

.modal-actions {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}

#build-deck-modal h4 {
   color: black;
}

#build-deck-modal .alert-danger {
   display: none;
}

.card-checkbox {
   margin-bottom: 10px;
}

.card-checkbox input {
   width: 18px;
   height: 18px;
   margin-top: 0;
}

.card-checkbox .form-check-label {
   margin-left: 8px;
}



/********************************************
   DRAW MODAL
*********************************************/

#confirm-draw-modal .modal-header {
   background: linear-gradient(to right, #a30000, #000000);
   color: white;
   border: none;
}

#reset-modal .modal-header {
   background: #343a40;
   color: white;
   border: none;
}

.modal-header {
   font-weight: bold;
   padding: 20px 30px;
}

.modal-header .close {
   color: white;
   margin-top: -10px;
}

.modal-body {
   padding: 30px;
}

#confirm-draw-modal .modal label {
   visibility: collapse;
}

.modal p {
   color: black;
}

.modal .form-group:last-child {
   margin-bottom: 0;
}

.modal-footer {
   padding: 10px 30px;
}

/********************************************
   SELECTED
*********************************************/

.selected {
   max-width: 70%;
   display: none;
   margin-left: auto;
   margin-right: auto;

}

.selected #card-img {
   max-width: 100%;
}

/********************************************
   SPINNER
*********************************************/

.outer {
   margin: auto;
   border: 16px solid rgba(0, 0, 0, 0);
   border-top: 16px solid rgb(198, 129, 0);
   border-bottom: 16px solid rgb(198, 129, 0);
   border-radius: 50%;
   border-style: double;
   width: 150px;
   height: 150px;
   animation: spin 5s linear infinite;

}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.inner {
   margin: auto;
   border: 15px solid rgba(0, 0, 0, 0);
   border-top: 15px solid rgb(0, 147, 255);
   border-bottom: 15px solid rgb(0, 147, 255);
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin2 1.5s linear infinite;

}

@keyframes spin2 {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(-360deg);
   }
}


/********************************************
   ANIMATIONS
*********************************************/

.shuffle-1 {
   animation: shuffle-1 1s linear;
   animation-iteration-count: 3
}

.shuffle-2 {
   animation: shuffle-2 1s linear .5s;
   animation-iteration-count: 3
}

.shuffle-3 {
   animation: shuffle-3 1s linear .75s;
   animation-iteration-count: 3
}

@keyframes shuffle-1 {
   0% {
      transform: translateX(0) translateY(0)
   }

   20% {
      transform: translateX(-120%) translateY(-120%)
   }

   40% {
      z-index: 5
   }

   60% {
      transform: translateX(90%) translateY(0%)
   }

   100% {
      transform: translateX(80%) translateY(0);
      z-index: 1
   }
}

@keyframes shuffle-2 {
   0% {
      transform: translateX(0) translateY(0)
   }

   20% {
      transform: translateY(-120%)
   }

   40% {
      z-index: 5
   }

   60% {
      transform: translateY(0%);
      z-index: 1;
   }

   100% {
      transform: translateY(0);
      z-index: 2
   }
}

@keyframes shuffle-3 {
   0% {
      transform: translateX(0) translateY(0);
   }

   20% {
      transform: translateX(120%) translateY(-120%);
   }

   40% {
      z-index: 5
   }

   60% {
      transform: translateX(-90%) translateY(0%);
      z-index: 1
   }

   100% {
      transform: translateX(-60) translateY(0);
      z-index: 3
   }
}


/********************************************
   BUTTONS
*********************************************/

.close {
   line-height: 0.7
}

.btn-danger {
   background-color: #a30000;
   border-color: #a30000;
}

.btn-warning {
   background-color: #c59400;
   border-color: #c59400;
}


/********************************************
   EXPENDED
*********************************************/

#expended {
   display: none;
   position: fixed;
   bottom: -220px;
   width: 100%;
   background: #0d0d0d;
   box-sizing: border-box;
   height: 270px;
   transition: .5s;
   clip-path: polygon(0% 14%, calc(100% - 250px) 14%, calc(100% - 200px) 0%, 100% 0%, 100% 100%, 0% 100%);
   z-index: 50;
}

#expended.shift {
   bottom: 0;
}

#exp-container {
   position: relative;
}

#exp-drawer-btn {
   position: absolute;
   right: 10px;
   top: 5px;
   color: #00b400;
   padding: 5px;
   font-family: 'Metamorphous', cursive;
   font-size: 20px;
   font-weight: bold;
   text-transform: capitalize;
   font-variant: small-caps;
   cursor: pointer;
   transition: .5s;
}

#exp-drawer-btn:hover {
   color: #00ff00;
}

#exp-drawer-btn .fa-chevron-up {
   transition: .5s;
}

#expended.shift .fa-chevron-up {
   transform: rotateZ(180deg);
}

#exp-cards {
   display: flex;
   overflow-x: auto;
}

#exp-cards .frame {
   display: none;
   height: 200px;
   margin: 55px 4px 0px;
}

#exp-cards .frame img {
   height: 100%;
}

/********************************************
   SNACKBAR
*********************************************/

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
   visibility: hidden;
   /* Hidden by default. Visible on click */
   min-width: 250px;
   /* Set a default minimum width */
   margin-left: -125px;
   /* Divide value of min-width by 2 */
   background-color: #333;
   /* Black background color */
   color: #fff;
   /* White text color */
   text-align: center;
   /* Centered text */
   border-radius: 2px;
   /* Rounded borders */
   padding: 16px;
   /* Padding */
   position: fixed;
   /* Sit on top of the screen */
   z-index: 1;
   /* Add a z-index if needed */
   left: 50%;
   /* Center the snackbar */
   bottom: 30px;
   /* 30px from the bottom */
   border-radius: 10px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
   visibility: visible;
   /* Show the snackbar */
   /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 3.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
   animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
   from {
      bottom: 0;
      opacity: 0;
   }

   to {
      bottom: 30px;
      opacity: 1;
   }
}

@keyframes fadein {
   from {
      bottom: 0;
      opacity: 0;
   }

   to {
      bottom: 30px;
      opacity: 1;
   }
}

@-webkit-keyframes fadeout {
   from {
      bottom: 30px;
      opacity: 1;
   }

   to {
      bottom: 0;
      opacity: 0;
   }
}

@keyframes fadeout {
   from {
      bottom: 30px;
      opacity: 1;
   }

   to {
      bottom: 0;
      opacity: 0;
   }
}

/********************************************
    Media Queries
*********************************************/

@media screen and (max-width:1140px) {
   h1 {
      font-size: 70px;
   }

   .actions button {
      font-size: 28px;
      margin-bottom: 40px;
   }
}

@media screen and (max-width:960px) {
   .actions button {
      width: 120%;
      font-size: 24px;
      margin-bottom: 30px;
   }
}

@media screen and (max-width:768px) {
   .actions button {
      width: 80%;
      font-size: 30px;
      margin: 0 auto 30px;
   }

   .overlay {
      visibility: visible;
   }

   .reveal {
      display: none;
   }
}

@media screen and (max-width:720px) {
   h1 {
      font-size: 45px;
      padding: 30px 0;
   }

   .actions button {}
}
